* {
    margin: 0;
    border: 0;
    text-decoration: none;
}
::before {
    position: absolute;
    display: block;
    top: -5px;
    left: 20px;
    color: #491c1c;
}
hr {
    background-color: #bbbbbb;
    height: 1px;
}

.wrapper {
    background-color: #bbbbbb;
}

.content {
    margin: 0 auto;
    max-width: 1120px;
}

header {
    position: relative;
}

.clear_fix {
    clear: both;
}

.top__info {
    min-height: 20px;
    background-color: #6f6fff;
    justify-content: space-between;
}

.info_content {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}

.city {
    text-transform: uppercase;
    color: #e5e5e5;
    font-size: 14px;
    letter-spacing: 1px;
}
.info_nav {
    display: flex;
}
.info_nav > a {
    margin-right: 40px;
    text-transform: uppercase;
    color: #e5e5e5;
    font-size: 12px;
    letter-spacing: 1px;
    /*font-family: ПОДКЛЮЧИТЬ RALEWAY;*/
} 
.info_nav > a:last-child {
    margin: 0;
}
.main_header {
    max-height: 100px;
    background-color: #6f6fff;
}
.header_content {
    min-height: 100px;
    display: flex;
    align-items: center;
}
.header_logo img{
    width: 170px;
    height: 75px;
    border-radius: 5px;
}
.header_search {
    position: relative;
    align-items: center;
}
.header_search input[type='text'] {
    width: 500px;
    height: 50px;
    background-color: #dedede;
    border-radius: 5px;
    position: relative;
    margin: 0 0 0 60px;
    padding: 0 0 0 10px;
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.header_basket {
    margin: 0 0 0 40px;
    display: flex;
}
.header_basket img{
    width: 25px;
    height: 25px;
    background-color: white;
    margin: -5px 5px 0 0;
    border-radius: 5px;
}
.header-basket-container {
    position: relative;
}
.header-basket-form {
    position: absolute;
    z-index: 10;
    left: -90px;
    top: 28px;
    background-color: #6f6fff;
    width: 250px;
    margin: 10px 0 0 0;
    border-radius: 5px;
}
.basket-container {
    margin: 20px 0;
}
.basket-form-header {
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    background-color: #bbbbbb;
}
.basket-item {
    display: flex;
    justify-content: space-around;
}
.basket-buttons {
    display: flex;
    width: 200px;
    justify-content: space-around;
    margin: 25px 25px;
}
.basket-buttons input[type="submit"] {
    width: 70px;
    padding: 5px;
    font-size: 14px;
    border-radius: 3px;
    background-color: #333333;
    color: #fff;
}
.basket-buttons input[type="submit"]:hover {
    background-color: #CC6600;
    color: #333333;
}
.basket-form-active-ref {
    width: 100px;
    height: 30px;
    padding: 10px 0 0 20px;
    margin: 0 0 0 19px;
    border-radius: 5px;
    background-color: #bbbbbb;
    border: 1px solid #000;
}
.basket-form-active-ref span {
    color: #333333
}
.header-profile-container {
    position: relative;
}
.profile-form-inactive {
    display: none;
}
.header_profile {
    display: flex;
    margin: 0 0 0 24px;
}
.header_profile img {
    height: 25px;
    width: 25px;
    margin: -5px 5px 0 0;
    background-color: white;
    border-radius: 50%;
}
.header-profile-login {
    z-index: 10;
    border-radius: 5px;
    top: 35px;
    left: -50px;
    position: absolute;
    width: 300px;
    height: 260px;
    background-color: #6f6fff;
}
.profile-form-active-ref {
    width: 180px;
    height: 30px;
    padding: 10px 0 0 5px;
    margin: 0 0 0 19px;
    border-radius: 5px;
    background-color: #bbbbbb;
    border: 1px solid #000;
}
.profile-form-active-ref span {
    color: #333333;
    font-weight: 500;
}
#profile-form {
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-profile-form input[type="text"], input[type="password"], input[type="email"] {
    padding: 5px;
    margin: 12px 35px;
    width: 220px;
}
.header-profile-form .error-input-tag, .error-input-tag-login, .error-input-tag-email {
    position: relative;
}
.header-profile-form .error-input-tag::before {
    content: "Некорректный логин или пароль";
}
.header-profile-form .error-input-tag-login::before {
    content: "Логин занят";
}
.header-profile-form .error-input-tag-email::before {
    content: "Почта занята";
}
.header-profile-form span {
    opacity: 1;
}
#active-span {
    opacity: .5;
    cursor: pointer;
}
.header-profile-login .profile-buttons {
    margin: 59px 35px 0 35px;
    display: flex;
    justify-content: space-around;
}
.header-profile-registration .profile-buttons {
    margin: 10px 35px;
    display: flex;
    justify-content: space-around;
}
.profile-buttons input[type="submit"] {
    width: 140px;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    background-color: #333333;
}
.profile-buttons input[type="submit"]:hover {
    background-color: #CC6600;
    color: #333333;
}
.profile-form-header {
    display: flex;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: #bbbbbb;
    font-size: 20px;
    height: 30px;
}
.header-profile-registration {
    z-index: 10;
    border-radius: 5px;
    top: 35px;
    left: -50px;
    position: absolute;
    width: 300px;
    height: 260px;
    background-color: #6f6fff;
}
.header_label {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    color: #e5e5e5;
}
.header_catalog {
    max-height: 80px;
    background-color: #333333;
}
.catalog_nav {
    display: flex;
}
.catalog_item_reference {
    margin: 0 10px;
}
.catalog_item {
    display: flex;
    min-width: 170px;
    min-height: 70px;
    align-items: center;
    justify-content: space-between;
    background-color: #333333;
}
.catalog_item:hover {
    background-color: rgba(204, 102, 0, 0.6);
    transition: .2s linear;
}
.catalog_item:hover .catalog_label{
    transition: .2s linear;
    box-shadow: 2px 10px 3px 1px rgba(0, 0, 0, 0.1);
}
.catalog_item:hover .catalog_label:after{
    width: 100%;
}
.catalog_item_reference:first-child{
    margin: 0 10px 0 0;
}
.catalog_item_reference:last-child {
    margin: 0 0 0 10px;
}
.catalog_item_logo {
    /**/
}
.catalog_label {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    width: 105px;
    color: #e5e5e5;
    padding: 0 3px 0 0;
    line-height: 1;
}
.catalog_label:after {
    display: block;
	position: absolute;
    left: -5px;
    bottom: -5px;
    width: 0;
	height: 2px;
	background-color: #CC6600;
	content: "";
	transition: width 0.3s ease-out;
}

.main__body{
    height: 100%;
}
.slider__container {
    background-color: #333333;
}
.slider__main {
    position: relative;
    margin: 20px 0 0 0;
    padding: 11px 50px;
}
.slider__main .slider__item {
    display: flex;
    margin: 50px 0;
    justify-content: space-around;
}
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    justify-content: space-around;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Стрелка */
.slider__main .slick-arrow{
    position: absolute;
    top: 50%;
    margin: -20px 0 0 0;
    z-index: 10;
    font-size: 0;
    width: 40px;
    height: 40px;
}
/* Стрелка влево */
.slider__main .slick-arrow.slick-prev{
    left: 0;
    background: url(../img/left-arrow.svg) 0 0 /100% no-repeat;
}
/* Стрелка вправо */
.slider__main .slick-arrow.slick-next{
    right: 0;
    background: url(../img/right-arrow.svg) 0 0 /100% no-repeat;
}
/* Точки (булиты) */
.slider__main .slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider__main .slick-dots li{
    margin: 15px 10px;
    list-style: none;
}
/* Активная точка */
.slider__main .slick-dots li.slick-active button{
    background-color: #fff;
}
/* Элемент точки */
.slider__main .slick-dots li button{
    font-size: 0;
    width: 5px;
    height: 12px;
    background-color: #006600;
    border-radius: 50%;
}
.slider__main .slider__text {
    color: #e5e5e5;
    font-size: 18px;
}
.slider__main .slider__text__header {
    font-size: 20px;
    font-weight: bolder;
}
.slider__main .slider__text__label {
    width: 420px;
    margin: 20px 0 0 0;
}
.pn__product {
    margin: 50px 0 0 0;
}
.slider__product__switch {
    max-width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.slider__product__switch .slick-arrow {
    position: absolute;
    z-index: 10;
    font-size: 18px;
    opacity: .5;
}
.slider__product__switch .slick-arrow.slick-prev {
    left: 100px;
    top: -25px;
}
.slider__product__switch .slick-arrow.slick-prev::after{
    content: "  /";
}
.slider__product__switch .slick-arrow.slick-next {
    left: 225px;
    top: -25px;
}
.slider__product__switch .slick-arrow.slick-disabled {
    opacity: 1;
}
.slider__product__pop {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.slider__product__pop .slick-arrow{

}
.slider__product {
    position: relative;
    width: 250px;
    min-height: 350px;
    margin: 0 5px;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}
.slider__product img {
    margin: 20px 0 0 0;
    width: 200px;
    height: 200px;
}
.slider__product__text {
    margin: 25px 0 0 -50px;
    color: #e5e5e5;
}
.slider__product__label {
}
.slider__product__price {
}
.buy-button {
    cursor: pointer;
    display: block;
    padding: 7px 20px;
    border-radius: 5px;
    background-color: #6f6fff;
    margin: 25px 0 0 0;
    color: #e5e5e5;
}
.buy-button:hover {
    background-color: rgba(204, 102, 0, 0.6);
}
.main-catalog {
    margin: 50px 0 0 0;
    display: flex;
}
.main-catalog-content {
    width: 1010px;
    display: flex;
    justify-content: space-between;
}
.main-catalog-nav {
    display: flex;
    margin: 0 0 0 -20px;
    width: 200px;
    height: 410px;
    background-color: #333333;
    padding: 10px;
    border-radius: 5px;
}
.catalog-nav-container {

}
.catalog-nav-ref {
    display: block;
    margin: 10px;
}
.catalog-nav-item {
    display: flex;
    font-size: 18px;
    max-width: 170px;
    min-height: 70px;
    align-items: center;
    justify-content: space-between;
    background-color: #6d6d6d;
    color: #fff;
    padding: 0 0 0 10px;
}
.catalog-nav-item:hover {
    background-color: rgba(204, 102, 0, 0.6);
    transition: .2s linear;
}
.main-catalog-container {
    /*  */
}
.main-catalog-row {
    display: flex;
    justify-content: space-around;
}
.main-catalog-item {
    width: 250px;
    height: 400px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    border-radius: 5px;
}
.main-catalog-item img {
    margin: 20px 0 0 0;
    width: 200px;
    height: 200px;
}
.catalog-item-text {
    margin: 25px 0 25px -75px;
    color: #e5e5e5;
}
.catalog-item-price {
    padding: 20px 0 0 0;
    color: #CC6600;
}
.something span {
    display: block;
    margin: 20px;
    font-size: 20px;
    font-weight: bolder;
}
footer {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-around;
    background-color: #333333;
}
.logo img{
    margin: 15px 0 0 0;
    border-radius: 5px;
    width: 175px;
    height: 75px;
}
.footer-info {
    margin: 30px 70px;
    width: 550px;
}
.footer-contact {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    color: #e5e5e5;
}
.footer-reference {
    margin: 35px;
    font-size: 18px;
    color: #e5e5e5;
    text-transform: uppercase;
}

.add-edit-container {
    position: absolute;
    z-index: 500;
    left: 45%;
    background-color: yellow;
}